#color-space {
  background-color: #393e46;
  width: 100%;
  height: 75px;
  margin-bottom: 20px;
}

#answer-color,
#canswer-color {
  width: 50px;
  height: 20px;
  border: #000 1px solid;
}

.btn {
  color: #fff;
  background-color: #eb6100;
  padding: 5px 10px;
  line-height: 1.5;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 0.5rem;
}